<%= form_for @stat do |f| %>
	<% if @stat.errors.any? %>
	<div id = "error_explanation" >
		<h2>
			<%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:
		</h2>
			<ul>
				<% @stat.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
			</ul>
	</div>

<% end %>

	<p>
		<%= f.label :num_throw %>
		<%= f.text_field :num_throw %>
	</p>

	<p>
		<%= f.label :num_catches %>
		<%= f.text_field :num_catches %>
	</p>
	<p>
		<%= f.label :points %>
		<%= f.text_field :points %>
	</p>

	<p>
		<%= f.label :distance_ran %>
		<%= f.text_field :distance_ran %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>