<h1>Listing Stats</h1>
 
 <%= link_to 'New Stat', new_stat_path %>

<table>
  <tr>
    <th>Number of Throws</th>
    <th>Number of Catches</th>
    <th>Points</th>
    <th>Distance Ran</th>
  </tr>
 
  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat.num_throw %></td>
      <td><%= stat.num_catches %></td>
      <td><%= stat.points %></td>
      <td><%= stat.distance_ran %></td>
      <td><%= link_to 'Destroy', stat_path(stat),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>      
    </tr>
  <% end %>
</table>